@media (max-width: 885px) {
  .slider__title--sm {
    display: block;
  }
  .slider__inner {
    flex-direction: column;
    align-items: center;
  }

  .slider__img {
    width: 140px;
    height: 100%;
    margin-right: 0px;
  }

  .slider__title--mobile {
    display: block;
  }

  .slider__title--lg {
    display: none;
  }

  .slider-buttons {
    top: 235px;
  }

  .slider__line-value {
    padding-right: 20px;
  }

  .slider__line-images {
    margin-left: -20px;
    margin-top: -20px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;

    img {
      margin-left: 20px;
      margin-top: 20px;
      width: 70px;
      height: 70px;

      &+img {
        margin-left: 20px;
      }
    }
  }

  .slider__bottom {
    text-align: center;
  }

  .slider__list {
    margin-top: 20px;
  }
}

@media (max-width: 670px) {
  .banner-bottom {
    flex-direction: column;
    align-items: center;
  }

  .banner-bottom__item+.banner-bottom__item {
    margin-top: 26px;
  }

  .benefits__items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .benefits__item {
    flex-basis: 50%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }
}

@media (max-width: 520px) {
  .banner{
    overflow: hidden;
  }
  .banner-top__text {
    padding: 0 30px;
  }
  #iframe {
    width: 320px !important;
  }
  .slider__line-label {
    min-width: 80px;
    margin-right: 20px;
    font-size: 16px;
    line-height: 18px;
  }

  .slider__line-value {
    font-size: 16px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
  }

  .header__menu-list {
    font-size: 20px;
    position: absolute;
    top: -200px;
    right: -15px;
    z-index: 4;
    background-color: #000;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    padding: 15px;
    transition: all .3s;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    &.active {
      top: 38px;
      opacity: 1;
      pointer-events: all
    }
  }

  .header {
    padding: 0 15px;
    z-index: 10;
  }

  .header__inner {
    position: relative;
    justify-content: center;
  }

  .header__menu {
    position: absolute;
    right: 0;
  }

  .header__dropdown {
    display: block;
  }

  body {
    font-size: 14px;
    line-height: 16px;
  }

  .about__video iframe {
    height: 200px !important;
  }

  .header__menu-item+.header__menu-item {
    margin-left: 0;
    margin-top: 20px;
  }

  .main-screen__title {
    font-size: 24px;
    line-height: 29px;
  }

  .main-screen__subtitle {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 70px;
  }

  .main-screen {
    background-position: top left;
  }

  .footer {
    font-size: 10px;
  }
}